@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'CalSans-SemiBold';
  src: url('/fonts/CalSans-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 244 69% 14%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 100% 68%;
    --primary-foreground: 0 0% 98%;

    --secondary: #f3f4f6;
    --secondaryAlt: 210 73% 15%;
    --secondary-foreground: 210 31% 37%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 214 80% 27.5% / 10%;
    --ring: 240 5.9% 90%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.clip-path {
  clip-path: inset(2px);
}
.clip-path-cta {
  clip-path: inset(8rem 0);
}
.btnShadow:hover,
.mainShadow:hover {
  box-shadow:
    0 0 0 1px #0e3f7e0a,
    0 1px 1px -0.5px #2a33450a,
    0 3px 3px -1.5px #2a33460a,
    0 6px 6px -3px #2a33460a,
    0 12px 12px -6px #0e3f7e0a,
    0 24px 24px -12px #0e3f7e0a;
  transition: all 0.75s cubic-bezier(0.14, 1, 0.34, 1);
}
.btnShadow {
  box-shadow: 0 0 0 1px #0e3f7e16;
  transition: all 0.75s cubic-bezier(0.14, 1, 0.34, 1);
}
.cardShadow {
  box-shadow: 0 0 20px 2px #0723470a;
  transition: all 0.75s cubic-bezier(0.14, 1, 0.34, 1);
}
.transitionAlt {
  transition: all 0.75s cubic-bezier(0.14, 1, 0.34, 1);
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #414141;
  border: 0 #fff;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #565656;
}

::-webkit-scrollbar-thumb:active {
  background: #757575;
}

::-webkit-scrollbar-track {
  background: #fff;
  border: 0 #fff;
  border-radius: 100px;
}

::-webkit-scrollbar-track:hover {
  background: #fff;
}

::-webkit-scrollbar-track:active {
  background: #fff;
}

::-webkit-scrollbar-corner {
  background: 0 0;
}
.mask {
  width: 100%;
  background: #030122;
  aspect-ratio: 1600/436;
  mask-image: url('/footer.png');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: bottom;
  image-rendering: crisp-edges;
  position: relative;
  transition: all 1s;
  transform-origin: bottom;
}

.gradient {
  transform: translate3d(
    calc(var(--mouse-x, -100%) * 1px - 35rem),
    calc(var(--mouse-y, -100%) * 1px - 35rem),
    0px
  );
  position: absolute;
  filter: blur(100px);
  width: 70rem;
  height: 70rem;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background: radial-gradient(
    circle at center,
    hsla(0, 0%, 100%, 0.2),
    hsla(0, 0%, 100%, 0.1),
    hsla(0, 0%, 100%, 0)
  );
}

.blurMaskAlt {
  -webkit-backdrop-filter: blur(1.25px);
  backdrop-filter: blur(1.25px);
  -webkit-mask-image: linear-gradient(0deg, #000000 25%, #fff0 45%);
  background: linear-gradient(0deg, #00000056 10%, #fff0 80%);
  transition: all 0.75s cubic-bezier(0.14, 1, 0.34, 1);
}
.mainShadow:hover .blurMaskAlt {
  -webkit-backdrop-filter: blur(2.25px);
  backdrop-filter: blur(2.25px);
  transition: all 0.75s cubic-bezier(0.14, 1, 0.34, 1);
}
.bigShadow {
  box-shadow: 0 5px 15px 1px #0e3f7e1a;
}
.transition-generic {
  transition: all 0.75s cubic-bezier(0.14, 1, 0.34, 1);
}
.playButton::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  content: '';
  border-color: #0000 #0000 #0000 #ffffff;
  border-style: solid;
  border-width: 14px 0 14px 24px;
}
.playButton:hover {
  width: 5.5rem;
  height: 5.5rem;
}
.playButton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  background-color: #00000028;
  border: solid 1px #ffffff;
  backdrop-filter: blur(10px);
  z-index: 1;
  border-radius: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.lyt-activated > .playButton {
  display: none;
}

.maskNewsIndex {
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 0, 0, 0) 85%,
    rgba(255, 0, 0, 0) 95%
  );
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
