@tailwind components;
@tailwind utilities;

.multi-value.rs__multi-value {
  background: #404040;
  border: 0px solid var(--theme-elevation-800);
  line-height: calc(1.92308rem - 0px);
}
.value-container .rs__value-container > * {
  color: currentColor;
  margin: 0;
  padding: 7px;
  padding-bottom: 5px;
  padding-top: 5px;
}
